.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 50px 20px;
  text-align: center;
}

body {
  background-image: url(../images/grass.jpg);
  list-style: none;
}

.card {
  background-color: lightyellow;
  border: 1px solid grey;
  h2 {
    border: 1px solid pink;
  }
  ul {
    list-style: none;
    border: 1px solid blue;
  }
}
